{% extends "base.html.twig" %}

{% block body %}
<a href="{{ path('article_index')}}">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> retour à la liste
</a>

{{ form_start(form) }}

    <div class="row">
    
        <div class="col-6">
            {{ form_row(form.title) }}
            
            {{ form_row(form.content, {
                'label': 'Contenu de l\'article',
                'value': 'Contenu par defaut depuis Twig pour un textarea',
                'attr': {
                        'class': 'form-control-sm0-8'
                    }
                })
            }}
            {{form_row(form)}} 
        </div>
    </div>

    <button class="btn btn-primary">Créer l'article</button>
{{ form_end(form) }}

{% endblock %}